target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.classpath
.project
.settings/
.vertx/
*.log
.idea/libraries/
.idea/workspace.xml
redeploy.sh
.idea/uiDesigner.xml
.idea/abyss-portal.iml
