target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.classpath
.project
.settings/
.vertx/
*.log
.idea/libraries/
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/compiler.xml
logs/
abyssjdbc.log.1
abyssjdbc.log.1.lck
abyssjdbc.log.2
abyssjdbc.log.2.lck
abyssjdbc.log.lck
abyssjdbc.log*
