<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">

  <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
  <property name="log-file" value="${abyss-jar.name}" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>false</withJansi>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %highlight(%logger{36}) - %highlight(%msg%n)</Pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${log-file}-${bySecond}.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>

  <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <logger name="com.verapi" level="WARN">
    <appender-ref ref="ASYNC_STDOUT" />
    <!--<appender-ref ref="ASYNC_FILE" />-->
  </logger>

  <logger name="org.thymeleaf.TemplateEngine.CONFIG" level="WARN">
    <appender-ref ref="ASYNC_FILE" />
  </logger>

  <root level="WARN">
    <appender-ref ref="ASYNC_FILE" />
  </root>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

</configuration>
